@import "tailwindcss";

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sr-only {
  position: absolute;
  left: -5000px;
  top: -5000px;
  overflow: hidden;
}
.bg-background {
  background-color: var(--background);
}
