# root = true

# Global settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript and TypeScript files
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2

# Python
[*.py]
indent_style = space
indent_size = 4

# HTML/CSS/JSON files
[*.{html,css,json}]
indent_style = space
indent_size = 2

# Markdown/Dockerfile
[*.{md, Dockerfile}]
indent_style = space
indent_size = 2

# git files
[*.{gitignore,gitattributes}]
indent_style = space
indent_size = 2